.Theme-candy {
  --background-color-1: rgb(254, 248, 237);
  --background-color-2: rgb(241, 235, 225);
  --border-color-1: rgb(231, 219, 197);

  --search-highlight-color-1: var(--oc-gray-9);
  --search-highlight-background-color-1: var(--oc-cyan-1);
  --search-highlight-background-color-2: var(--oc-cyan-5);

  --fullscreen-background-color: rgb(200, 188, 188);

  /* --theme-candy-font-color-h: 290; */
  --theme-candy-font-color-h: 20;
  --theme-candy-font-color-s: 12.5%;

  --font-color-1: hsl(
    var(--theme-candy-font-color-h),
    100%,
    calc(var(--theme-candy-font-color-s) + 7.5%)
  );

  --title-color-1: hsl(
    var(--theme-candy-font-color-h),
    100%,
    calc(var(--theme-candy-font-color-s))
  );

  --title-color-2: hsl(
    var(--theme-candy-font-color-h),
    100%,
    calc(var(--theme-candy-font-color-s))
  );

  --accent-contrast-color-1: white;
  --accent-color-1: var(--oc-pink-5);

  --input-background-color: var(--background-color-2);

  --scrollbar-track-color: var(--background-color-2);
  --scrollbar-thumb-color: var(--border-color-1);

  --color-blue: var(--oc-blue-5);
  --color-red: var(--oc-red-6);
  --color-yellow: var(--oc-yellow-7);

  --box-shadow-base-color: 66, 15, 33;
  --shadow-color-opacity-light-1: 0.25;
  --shadow-color-opacity-extra-light-1: 0.25;
  --shadow-color-opacity-heavy-1: 0.33;
}
