.image-wrapper {
  display: flex;
  justify-content: center;
}

.image-wrapper img {
  width: 100%;

  /* Hack for Safari: keep aspect ratio of image */
  align-self: center;
}

.slogan-1 span {
  white-space: nowrap;
}

section.big-screenshot-section {
  padding: 6em;
  /* background-color: var(--fullscreen-background-color); */

  /* box-shadow: inset var(--box-shadow-heavy-1); */
}

.big-screenshot-wrapper {
  width: 100%;
  background-color: rgb(165, 167, 176);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em;
}

.big-screenshot {
  width: 800px;
  /* box-shadow: var(--box-shadow-heavy-1); */

  box-shadow: 0em 0em 9em var(--accent-color-1);
  /* box-shadow: 0em 2em 3em black; */
}
