body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  color: var(--font-color-2);
  align-items: center;

  --landing-page-default-image-width: 90%;
  --landing-page-box-shadow: 0em 0em 7em var(--accent-color-1);
  --landing-page-default-large-padding: 4em;
  --landing-page-default-small-padding: 1em;
  --landing-page-header-height: 7em;
  --landing-page-full-height: 100vh;

  background-color: var(--accent-contrast-color-1);

  /* This is useful e.g. on the support page, which usually doesn't need the full height. */
  min-height: 100vh;
}

button,
input {
  font-family: "Noto Sans HK";
}

body * {
  letter-spacing: 0px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.75em;
  -webkit-font-smoothing: antialiased;
}

em {
  font-style: normal;
  color: var(--accent-color-1);
  white-space: nowrap;
}

code {
  white-space: nowrap;
}

code,
kbd,
samp {
  font-family: "Courier Prime", monospace;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--accent-color-1);
}

.back-button {
  color: var(--font-color-2);
  padding-top: 2em;
  padding-bottom: 2em;
}

h1 {
  font-size: 5em;
  margin: 0.5em;
}

h2 {
  font-size: 3.5em;
  margin: 0.5em;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Poppins";
}

.nav-outer {
  flex-grow: 1;
  max-width: 55em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins";
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo > img {
  height: 2.5em;
  width: 2.5em;
}

.nav-logo > span {
  font-size: 1.5em;
  margin-left: 0.5em;
}

.top-navigation {
  height: var(--landing-page-header-height);

  width: 100%;
}

.nav-account a {
  border: 1px solid var(--color-red);
  color: var(--color-red);
  padding: 0.33em;
  border-radius: 0.25em;
  text-decoration: none;
}

.warning-box {
  border: 1px solid hsl(355, 65%, 65%);
  color: hsl(355, 65%, 65%);
  border-radius: 1em;
  padding: 1em;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(58, 75, 82);
  width: 100%;
}

.expanded-section {
  flex: 1;
}

.narrow-section .section-tile {
  max-width: 55em;
}

.section-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-row-informative h1 {
  font-size: 3em;
  text-align: left;
}

.section-row-informative h2 {
  font-size: 2em;
  text-align: left;
}

.section-row-informative h3 {
  font-size: 1.5em;
  text-align: left;
}

.section-row-informative strong {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.15em;
  display: block;
}

.section-row-informative .section-tile {
  display: block;
  text-align: left;
}

.section-row-informative p {
}

.section-tile {
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.section-sub-text {
  font-size: 1.25em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.image-wrapper img {
  width: 100%;

  /* Hack for Safari: keep aspect ratio of image */
  align-self: center;
}

footer {
  width: 100%;
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--accent-color-1);
  color: var(--accent-contrast-color-1);
}

footer a {
  color: var(--accent-contrast-color-1);
}

.footer-tile {
  display: flex;
  flex: 1;
  justify-content: center;
}

.footer-tile a {
  margin-right: 1em;
  text-decoration: none;
}

.footer-logo {
  font-size: 0.75em;
}

.footer-logo img {
  filter: drop-shadow(
    0em 0em 0.25em
      rgba(var(--box-shadow-base-color), var(--shadow-color-opacity-heavy-1))
  );
}

.windows-download .warning-box {
  max-width: 50%;
}

.windows-download .download-button {
  border: 1px solid hsl(355, 65%, 65%);
}

@media only screen and (max-width: 57em) {
  .top-navigation .nav-outer {
    flex-direction: row;
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media only screen and (max-width: 1100px) {
  body {
    --landing-page-box-shadow: 0em 0em 6em var(--accent-color-1);
    --landing-page-default-large-padding: 3em;
    --landing-page-default-small-padding: 1em;
  }
}

@media only screen and (max-width: 800px) {
  body {
    --landing-page-box-shadow: 0em 0em 5em var(--accent-color-1);
    --landing-page-default-large-padding: 2em;
    --landing-page-default-small-padding: 1em;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  .section-sub-text {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media only screen and (max-width: 600px) {
  body {
    --landing-page-box-shadow: 0em 0em 4em var(--accent-color-1);

    --landing-page-full-height: 100vh;
  }
}

@media only screen and (max-width: 500px) {
  .nav-outer {
    flex-direction: column;
  }

  .footer-tile {
    margin-bottom: 2em;
  }
}

@media only screen and (min-height: 1500px) {
  body {
    --landing-page-full-height: none;
  }
}
