body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans HK";
  background-color: rgb(246, 249, 250);
  color: rgb(53, 63, 68);
  justify-content: center;
}

body * {
  font-weight: lighter;
  letter-spacing: normal;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
}

em {
  font-style: normal;
  color: rgb(100, 174, 235);
  white-space: nowrap;
}

code {
  white-space: nowrap;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(53, 63, 68);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Poppins";
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.image-wrapper img {
  width: 100%;

  /* Hack for Safari: keep aspect ratio of image */
  align-self: center;
}

.nav-outer {
  flex-grow: 1;
  max-width: 55em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins";
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo > img {
  height: 3em;
  width: 3em;
}

.nav-logo > span {
  font-size: 1.5em;
  margin-left: 0.5em;
}

.top-navigation {
  height: 7em;
}

.nav-account a {
  border: 1px solid hsl(355, 65%, 65%);
  color: hsl(355, 65%, 65%);
  padding: 0.33em;
  border-radius: 0.25em;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
  padding-bottom: 5em;
}

.slogan-1 span {
  white-space: nowrap;
}

.big-screenshot {
  width: 1346px;
}

.download-row {
  font-family: "Poppins";
  display: flex;
}

.download-button {
  font-size: 1em;
  display: flex;
  border: 1px solid hsl(355, 65%, 65%);
  color: hsl(355, 65%, 65%);
  padding: 0.75em;
  padding-bottom: 0.33em;
  border-radius: 0.25em;
  align-items: center;
  justify-content: center;
  min-width: 8em;
}

.download-row a {
  margin: 2em;
  text-decoration: none;
}

.download-button > span {
  margin-bottom: 0.25em;
}

.download-button i {
  margin-left: 0.25em;
  margin-top: -3px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(107, 112, 115);
}

section:nth-child(odd) {
  background-color: white;
}

section:only-of-type {
  background-color: white;
  color: rgb(247, 166, 145);
  min-height: calc(100vh - 14em);
}

section:only-of-type a {
  color: rgb(247, 166, 145);
}

.section-row {
  padding-top: 4em;
  padding-bottom: 4em;
  display: flex;
  flex-grow: 1;
  max-width: 65em;
  align-items: center;
  justify-content: center;
}

.section-row-informative h1 {
  font-size: 3em;
}

.section-row-informative h2 {
  font-size: 2em;
}

.section-row-informative h3 {
  font-size: 1.5em;
}

.section-row-informative strong {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.15em;
  display: block;
}

.section-row-informative .section-tile {
  /* align-items: baseline; */
  display: block;
}

.section-row-informative .section-tile * {
  text-align: left;
}

.section-row-informative p {
  text-align: left;
  max-width: 40em;
}

.section-row-informative ul {
  max-width: 40em;
}

.section-tile {
  padding: 1em;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  flex: 1;
  text-align: center;
}

.section-tile span {
  font-size: 1.25em;
  max-width: 19em;
}

.vision-tile > span {
  font-size: 1.25em;
}

.snippet-examples-row {
  margin-left: 10em;
}

.snippet-examples-row img {
  display: inline-block;
  width: 200px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: -8em;
}

.snippet-examples-row img:nth-child(2) {
  width: 210px;
}

.snippet-examples-row img:nth-child(3) {
  width: 220px;
}

.snippet-examples-row img:nth-child(4) {
  width: 240px;
}

.tags-tile {
  flex: 1;
}

span.tag-example {
  font-size: 0.75em;
  background-color: rgb(100, 174, 235);
  color: white;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 1em;
}

.tags-screenshot {
  width: 285px;
}

.quick-access-example-tile {
  flex: 1;
}

.quick-access-example-tile img {
  width: 752px;
}

.vision-section-row {
  width: 100%;
  flex-direction: column;
}

.vision-section-grid {
  width: 100%;
  display: grid;
  grid-column-gap: 2.5em;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.vision-row {
  display: flex;
}

.vision-tile {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.vision-tile h1 {
  font-size: 2.5em;
  position: relative;
}

/* fix positioning issue of snip cloud banner */
.h1-fix:first-of-type {
  margin-bottom: 0;
}

.h1-fix:last-of-type {
  margin-top: 0;
}

.snip-cloud-banner {
  display: block;
  position: absolute;
  bottom: -0.75em;
  right: -3em;
  transform: rotateZ(-15deg);
  font-size: 0.25em;
  background-color: rgb(100, 174, 235);
  background-color: hsl(355, 65%, 65%);
  color: white;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  opacity: 0.75;
}

.snip-cloud-banner::after {
  content: "Snip Cloud";
}

footer {
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-tile a {
  margin-right: 1em;
  text-decoration: none;
}

.footer-logo {
  font-size: 0.75em;
}

.footer-tile {
  display: flex;
}

.warning-box {
  border: 5px solid rgb(247, 166, 145);
  border-radius: 1em;
  padding: 1em;
}

.windows-download .download-button {
  border: 1px solid rgb(247, 166, 145);
}
