.vision-tile > span {
  font-size: 1.25em;
}

.snippet-examples-row {
  margin-left: 10em;
  padding-right: 1em;
}

.snippet-examples-row img {
  display: inline-block;
  width: 200px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: -8em;
}

.snippet-examples-row img:nth-child(2) {
  width: 210px;
}

.snippet-examples-row img:nth-child(3) {
  width: 220px;
}

.snippet-examples-row img:nth-child(4) {
  width: 240px;
}

.tags-tile {
  flex: 1;
}

.markdown-example-row video {
  width: 75%;
}

span.tag-example {
  font-size: 0.75em;
  background-color: rgb(100, 174, 235);
  color: white;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 1em;
}

.tags-screenshot {
  width: 285px;
}

.quick-access-row .section-tile span:first-of-type {
  margin-bottom: 1em;
}

.quick-access-example-tile {
  flex: 1;
}

.quick-access-example-tile img {
  width: 752px;
}

.reminders-row {
  flex-direction: column;
  width: 100%;
}

.reminders-sub-row {
  display: flex;
}

.reminders-example-tile {
  margin-bottom: 2em;
}

.reminders-expression-examples-tile-outer {
  width: 95%;
  padding-bottom: 2em;
}

.reminders-expression-examples-tile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
}

.reminders-sub-row-tile {
  flex: 1;
}

.reminders-example-video {
  width: 100%;
}

.reminders-expression-example {
  font-family: "Courier Prime", monospace;
  margin: 1em;
  text-align: center;
  font-size: 1.1em;
}

.dashboards-row {
  padding-top: 0;
  padding-bottom: 0;
  flex-direction: column;
}

.dashboards-sub-row {
  display: flex;
  flex-direction: column;
}

.dashboards-sub-row-tile {
  flex: 1;
}

.dashboards-example-video {
  width: 75%;
}

.vision-section-row {
  width: 100%;
  flex-direction: column;
}

.vision-section-grid {
  width: 100%;
  display: grid;
  /* grid-column-gap: 2.5em; */
  grid-column-gap: 0;
  /* grid-template-columns: repeat(auto-fit, minmax(20em, 1fr)); */
  grid-template-columns: 33% 33% 33%;
}

.vision-row {
  display: flex;
}

.vision-tile {
  /* padding: 1em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;

  /* border: 1px solid red; */
}

.vision-tile h1 {
  font-size: 2.5em;
  position: relative;
}

.vision-tile img {
  width: 100%;
  height: 100%;
}

/* fix positioning issue of snip cloud banner */
.h1-fix:first-of-type {
  margin-bottom: 0;
}

.h1-fix:last-of-type {
  margin-top: 0;
}

.snip-cloud-banner {
  display: block;
  position: absolute;
  bottom: -0.75em;
  right: -3em;
  transform: rotateZ(-15deg);
  font-size: 0.25em;
  background-color: rgb(100, 174, 235);
  background-color: hsl(355, 65%, 65%);
  color: white;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.snip-cloud-banner::after {
  content: "Snip Cloud";
}

.windows-download .warning-box {
  max-width: 50%;
}

.windows-download .download-button {
  border: 1px solid hsl(355, 65%, 65%);
}
