.Theme-silver {
  --background-color-1: rgb(250, 250, 250);
  --background-color-2: rgb(241, 241, 241);
  --fullscreen-background-color: rgb(165, 167, 176);

  --search-highlight-color-1: var(--oc-gray-9);
  --search-highlight-background-color-1: var(--oc-orange-1);
  --search-highlight-background-color-2: var(--oc-orange-5);

  --font-color-1: rgb(85, 95, 100);

  --border-color-1: rgb(220, 221, 226);

  --accent-contrast-color-1: white;
  --accent-color-1: var(--color-blue);

  --input-background-color: var(--background-color-2);

  --scrollbar-track-color: var(--background-color-2);
  --scrollbar-thumb-color: rgb(230, 230, 230);

  --color-blue: hsl(207, 82%, 60%);
  --color-red: hsl(355, 65%, 60%);
  --color-yellow: hsl(39, 67%, 62%);

  --box-shadow-base-color: 0, 0, 0;
  --shadow-color-opacity-light-1: 0.25;
  --shadow-color-opacity-extra-light-1: 0.25;
  --shadow-color-opacity-heavy-1: 0.33;
}
