.always-free-section {
  min-height: 75em;

  border: var(--landing-page-default-large-padding) solid var(--accent-color-1);

  box-shadow: inset var(--box-shadow-heavy-1);
}

.always-free-section ul {
  text-align: left;
  max-width: 30em;
}

.always-free-section li {
  padding-bottom: calc(var(--landing-page-default-small-padding) * 1);
}

.always-free-section {
  min-height: var(--landing-page-full-height);
}

@media only screen and (max-width: 700px) {
  .always-free-section {
    border-width: 0.25em;
  }
}
