.always-free-section {
  min-height: 75em;

  background: linear-gradient(
    180deg,
    var(--accent-contrast-color-1) 66%,
    var(--accent-color-1)
  );
}

.always-free-section ul {
  text-align: left;
  max-width: 30em;
}
