.calendar-section {
  flex-direction: column;

  background: linear-gradient(
    180deg,
    var(--accent-contrast-color-1) 20%,
    var(--accent-color-1)
  );

  padding-top: var(--landing-page-default-large-padding);

  min-height: var(--landing-page-full-height);
}

.calendar-section .section-tile {
  flex: none;
  padding-bottom: calc(var(--landing-page-default-large-padding) * 1);
}

.calendar-section .section-sub-text {
  display: flex;
  padding: var(--landing-page-default-small-padding);
}

.calendar-section-image-wrapper {
  width: var(--landing-page-default-image-width);
  max-width: 1100px;
  margin-bottom: calc(var(--landing-page-default-large-padding) * 2);
}

@media only screen and (max-width: 700px) {
  .calendar-section {
    min-height: calc(
      var(--landing-page-full-height) -
        var(--landing-page-default-large-padding) * 1
    );
  }

  .calendar-section .section-sub-text br {
    display: none;
  }
}
