.dashboard-screenshot-section {
  background: linear-gradient(
    180deg,
    var(--accent-contrast-color-1) 33%,
    var(--accent-color-1)
  );

  min-height: var(--landing-page-full-height);
}

.section-row.dashboard-screenshot-section-title-row {
  flex-grow: 0;
  margin-top: var(--landing-page-default-small-padding);
  margin-bottom: var(--landing-page-default-large-padding);
}

.dashboard-screenshot-section-screenshot-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}

.dashboard-screenshot-section .section-sub-text {
  max-width: 25em;
  min-height: 10em;
}

.dashboard-screenshot-section-image-wrapper {
  width: var(--landing-page-default-image-width);
  max-width: 900px;
}

@media only screen and (max-width: 1300px) {
  .dashboard-screenshot-section .section-row {
    flex-direction: column;
  }

  .dashboard-screenshot-section-image-wrapper {
    margin-left: 0;
    margin-top: var(--landing-page-default-large-padding);
  }
}

@media only screen and (max-width: 700px) {
  .dashboard-screenshot-section {
    background: none;
  }
}
