.dashboard-screenshot-section {
  padding-top: calc(var(--landing-page-default-large-padding) * 1);
  padding-bottom: calc(var(--landing-page-default-large-padding) * 1);

  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 20%,
    var(--accent-color-1)
  );

  min-height: 100vh;
}

.dashboard-screenshot-section h2 {
  font-size: 4.5em;
}

.dashboard-screenshot-section-image-wrapper {
  width: var(--landing-page-default-image-width);
  max-width: 1300px;
}

@media only screen and (max-width: 1300px) {
  .dashboard-screenshot-section .section-row {
    flex-direction: column;
  }

  .dashboard-screenshot-section-image-wrapper {
    margin-left: 0;
    margin-top: var(--landing-page-default-large-padding);
  }
}
