.dashboard-screenshot-section {
  padding-top: calc(var(--landing-page-default-large-padding) * 1);

  background: linear-gradient(
    180deg,
    var(--accent-contrast-color-1) 33%,
    var(--accent-color-1)
  );

  min-height: var(--landing-page-full-height);
}

.section-row.dashboard-screenshot-section-title-row {
  flex-grow: 0;
}

.dashboard-screenshot-section-screenshot-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-screenshot-section-screenshot-tile p {
  max-width: 25em;
  text-align: center;
  min-height: 10em;
  font-size: 1.33em;
}

.dashboard-screenshot-section h2 {
  font-size: 3.5em;
}

.dashboard-screenshot-section-image-wrapper {
  width: var(--landing-page-default-image-width);
  max-width: 900px;
}

@media only screen and (max-width: 1300px) {
  .dashboard-screenshot-section .section-row {
    flex-direction: column;
  }

  .dashboard-screenshot-section-image-wrapper {
    margin-left: 0;
    margin-top: var(--landing-page-default-large-padding);
  }
}
