.download-section {
  padding-top: calc(var(--landing-page-default-large-padding) * 1);
  font-family: "Poppins";
  background-color: var(--accent-color-1);
  flex-direction: row;
}

.download-section-button {
  font-size: 1em;
  display: flex;
  border: 1px solid var(--accent-contrast-color-1);
  color: var(--accent-contrast-color-1);
  padding: 0.75em;
  padding-bottom: 0.33em;
  border-radius: 0.25em;
  align-items: center;
  justify-content: center;
  min-width: 8em;
}

.download-section-anchor {
  margin: 2em;
  text-decoration: none;
}

.download-section-button > span {
  margin-bottom: 0.25em;
}

.download-section-button i {
  margin-left: 0.25em;
  margin-top: -3px;
}

@media only screen and (max-width: 700px) {
  .download-section-button {
    font-size: 0.9em;
    min-width: unset;
  }

  .download-section-anchor {
    margin: 0.25em;
    flex: 1;
  }
}
