.download-section {
  font-family: "Poppins";
  background-color: var(--accent-color-1);
  flex-direction: row;
}

.download-section-button {
  font-size: 1em;
  display: flex;
  border: 1px solid var(--accent-contrast-color-1);
  color: var(--accent-contrast-color-1);
  border-radius: 3em;
  width: 3em;
  height: 3em;
  align-items: center;
  justify-content: center;
}

.download-section-anchor {
  margin: 2em;
  text-decoration: none;
}

.download-section-button svg {
  height: 1.25em;
  width: 1.25em;
  margin: 0.5em;
}

.download-section-button span {
  margin-top: 0.25em;
}

.download-section-button i {
  margin-left: 0.25em;
  margin-top: -3px;
}
