header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--landing-page-default-large-padding);
  padding-bottom: var(--landing-page-default-large-padding);
}

.header-slogan-1 span {
  white-space: nowrap;
}

.header-slogan-2 span {
  white-space: nowrap;
}

section.header-big-screenshot-section {
  padding-top: calc(var(--landing-page-default-large-padding) * 2);
  padding-bottom: calc(var(--landing-page-default-large-padding) * 2);
}

.header-big-screenshot {
  width: var(--landing-page-default-image-width);
  max-width: 900px;
  box-shadow: var(--landing-page-box-shadow);
}

@media only screen and (max-width: 700px) {
  .header-slogan-2 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 620px) {
  .header-slogan-1 {
    font-size: 1.75em;
  }
}

@media only screen and (max-width: 400px) {
  .header-slogan-1 {
    font-size: 1.5em;
  }

  .header-slogan-2 {
    font-size: 1.25em;
  }
}
