.header-outer-wrapper {
  background: linear-gradient(
    180deg,
    var(--accent-contrast-color-1) 20%,
    var(--accent-color-1)
  );

  width: 100%;

  min-height: calc(
    var(--landing-page-full-height) - var(--landing-page-header-height)
  );

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-slogan-1 span {
  white-space: nowrap;
}

.header-slogan-2 span {
  white-space: nowrap;
}

section.header-big-screenshot-section {
  flex: 1;
}

.header-big-screenshot {
  width: var(--landing-page-default-image-width);
  max-width: 1100px;
}

@media only screen and (max-width: 700px) {
  .header-slogan-2 {
    font-size: 1.5em;
  }

  .header-outer-wrapper {
    background: linear-gradient(
      180deg,
      var(--accent-contrast-color-1) 45%,
      var(--accent-color-1)
    );

    min-height: unset;
  }
}

@media only screen and (max-width: 620px) {
  .header-slogan-1 {
    font-size: 1.75em;
  }
}

@media only screen and (max-width: 400px) {
  .header-slogan-1 {
    font-size: 1.5em;
  }

  .header-slogan-2 {
    font-size: 1.25em;
  }
}
