.icons-section {
  padding-bottom: calc(var(--landing-page-default-large-padding) * 1);
}

.icon-section-sub-text {
  max-width: 19em;
}

.icons-section h2 {
  font-size: 3em;
}

.icons-section-image-wrapper {
  width: 800px;
  margin-top: calc(var(--landing-page-default-large-padding) * 1.5);
}

@media only screen and (min-width: 2000px) {
  .icons-section {
    max-width: 125em;
  }
}

@media only screen and (max-width: 1000px) {
  .icons-section .section-row {
    flex-direction: column;
  }

  .icons-section-image-wrapper {
    width: 75%;
    align-self: flex-end;
  }
}
