.icons-section {
  padding-bottom: calc(var(--landing-page-default-large-padding) * 2);
}

.icons-section h2 {
  font-size: 3em;
}

.icons-section-image-wrapper {
  width: 800px;
  box-shadow: var(--landing-page-box-shadow);
}

@media only screen and (max-width: 1000px) {
  .icons-section .section-row {
    flex-direction: column;
  }

  .icons-section-image-wrapper {
    width: 75%;
    align-self: flex-end;
  }
}
