.intro-video-section {
  background-color: var(--accent-color-1);
  padding-top: var(--landing-page-default-large-padding);
  padding-bottom: var(--landing-page-default-large-padding);
  color: var(--accent-contrast-color-1);

  min-height: var(--landing-page-full-height);
}

.intro-video-section-wrapper-outer {
  width: 100%;
  max-width: 50em;
}

/*
  According to https://www.w3schools.com/howto/howto_css_responsive_iframes.asp
 */
.intro-video-section-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.intro-video-section iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
