.mobile-section {
  width: 100%;

  background: linear-gradient(
    var(--accent-contrast-color-1) 50%,
    var(--accent-color-1)
  );

  min-height: var(--landing-page-full-height);
}

.mobile-section h2 {
  font-size: 3em;
}

.mobile-section .section-tile {
  max-width: 30em;
}

.mobile-section-image-wrapper {
  max-width: 500px;
  width: var(--landing-page-default-image-width);
}

@media only screen and (max-width: 1000px) {
  .mobile-section .section-row {
    flex-direction: column-reverse;
  }

  .mobile-section-image-wrapper {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .mobile-section h2 {
    font-size: 2.5em;
  }
}
