.reminders-section {
  max-width: 60em;
  margin-bottom: calc(var(--landing-page-default-large-padding) * 2);
}

.reminders-section h1 {
  font-size: 4em;
}

.reminders-section .section-row {
  flex-direction: column;
}

.reminders-section-image-wrapper {
  width: 100%;
  max-width: 600px;
  box-shadow: var(--landing-page-box-shadow);
  margin-top: calc(var(--landing-page-default-large-padding) * 1.5);
}

.reminders-section-expression-examples {
  width: 100%;
  margin-top: calc(var(--landing-page-default-large-padding) * 1.5);
}

.reminders-section-expression-examples-tile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
}

.reminders-section-expression-example {
  font-family: "Courier Prime", monospace;
  margin: 1em;
  text-align: center;
  font-size: 1.1em;
}

@media only screen and (max-width: 500px) {
  .reminders-section h1 {
    font-size: 3em;
  }

  .reminders-section-expression-examples-tile {
    grid-template-columns: 1fr;
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 400px) {
  .reminders-section-expression-examples-tile {
    font-size: 0.5em;
  }
}
