.reminders-section {
  background: linear-gradient(
    180deg,
    var(--accent-contrast-color-1) 33%,
    var(--accent-color-1)
  );

  min-height: var(--landing-page-full-height);
}

.reminders-section .section-sub-text {
  max-width: 25em;
}

.reminders-section .section-row {
  flex-direction: column;
}

.reminders-section .section-row .section-tile {
  flex-grow: 0;
}

.reminders-section-image-wrapper {
  width: var(--landing-page-default-image-width);
  max-width: 900px;
}

.reminders-section-expression-examples {
  width: 100%;
  display: none;
}

.reminders-section-expression-examples-tile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
}

.reminders-section-expression-example {
  font-family: "Courier Prime", monospace;
  margin: 1em;
  text-align: center;
  font-size: 1.1em;
}

@media only screen and (max-width: 500px) {
  .reminders-section-expression-examples-tile {
    grid-template-columns: 1fr;
  }
}
