.search-section {
  padding-top: calc(var(--landing-page-default-large-padding) * 1);

  background: linear-gradient(
    180deg,
    var(--accent-contrast-color-1) 33%,
    var(--accent-color-1)
  );

  min-height: var(--landing-page-full-height);
}

.search-section .section-sub-text {
  max-width: 25em;
}

.search-section .section-row {
  flex-direction: column;
}

.search-section .section-row .section-tile {
  padding-bottom: calc(var(--landing-page-default-large-padding) * 1);
  flex-grow: 0;
}

.search-section-image-wrapper {
  width: var(--landing-page-default-image-width);
  max-width: 900px;
}
