<section class="expanded-section narrow-section centered-section">
  <div class="section-row">
    <div class="section-tile">
      <h2>Snip Cloud</h2>

      <h3>Here's the deal:</h3>

      <ul>
        <li>Using the app <em>without an account is free</em></li>
        <li>
          If <em>you want to sync</em> (some of) your data to your mobile
          devices, you can sign up for an account
        </li>
        <li>
          Signup is <em>currently free</em> of charge, but we will introduce
          <em>paid plans in the future</em>
        </li>
        <li>Expect a pricing in the range of <em>1$ - 3$ per month</em></li>
      </ul>

      <div class="nav-account">
        <a href="cloud">Register</a>
      </div>
    </div>
  </div>

  <div class="section-row">
    <a class="back-button" href="/">Back</a>
  </div>
</section>
