<section class="expanded-section narrow-section centered-section">
  <div class="section-row">
    <div class="section-tile">
      <h2>Snip Cloud</h2>

      <ul>
        <li>Using the app without an account is free.</li>
        <li>
          If you want to sync (some of) your data to your mobile devices, you
          can sign up for an account.
        </li>
        <li>
          Signup is currently free of charge. We will introduce paid plans in
          the future.
        </li>
        <li>
          Expected pricing is between 1$ - 3$ per month. It will include
          unlimited snippets, limited media upload, note sharing, and more.
        </li>
      </ul>

      <div class="nav-account">
        <a href="https://users.getsnip.io/register">Register</a>
      </div>
    </div>
  </div>

  <div class="section-row">
    <a class="back-button" href="/">Back</a>
  </div>
</section>
