<div class="header-outer-wrapper">
  <header>
    <h1 class="header-slogan-1">
      <span><em>Lightweight</em> on the Surface,</span>
      <span><em>Powerful</em> at the Core.</span>
    </h1>
    <h2 class="header-slogan-2">
      <span>Notes, Todos, Reminders -</span>
      <span><em>everything you need</em> </span>
      <span>in one handy App.</span>
    </h2>
  </header>

  <section class="header-big-screenshot-section">
    <div class="section-row">
      <div class="image-wrapper header-big-screenshot">
        <img src="img/index/header.png" />
      </div>
    </div>
  </section>
</div>

<section class="download-section">
  <a
    class="download-section-anchor"
    href="https://github.com/snip-app/client/releases/latest/download/Snip.dmg"
    onclick="reportDownload('mac')"
  >
    <span class="download-section-button">
      <span>Mac</span>
      <i class="material-icons">get_app</i>
    </span>
  </a>

  <a class="download-section-anchor" href="windows">
    <span class="download-section-button">
      <span>Windows</span>
      <i class="material-icons">get_app</i>
    </span>
  </a>

  <a
    class="download-section-anchor"
    href="https://github.com/snip-app/client/releases/latest/download/Snip.deb"
    onclick="reportDownload('linux')"
  >
    <span class="download-section-button">
      <span>Linux</span>
      <i class="material-icons">get_app</i>
    </span>
  </a>
</section>

<section class="dashboard-screenshot-section">
  <div class="section-row dashboard-screenshot-section-title-row">
    <div class="section-tile">
      <h2>Dashboards & Whiteboards</h2>
    </div>
  </div>

  <div class="section-row">
    <div class="dashboard-screenshot-section-screenshot-tile">
      <p>
        Use <em>Dashboards</em> to arrange your snippets neatly on a
        column-based layout. <em>Drag-and-drop</em> snippets between columns and
        create as many columns and <em>nested groups</em> as you want.
      </p>

      <div class="image-wrapper dashboard-screenshot-section-image-wrapper">
        <img src="img/index/dashboards.png" />
      </div>
    </div>

    <div class="dashboard-screenshot-section-screenshot-tile">
      <p>
        Use <em>Whiteboards</em> for a more <em>visual</em> arrangement of your
        snippets. <em>Connect snippets with lines</em> to indicate
        relationships. Freely <em>zoom</em> in and out for a better overview.
      </p>

      <div class="image-wrapper dashboard-screenshot-section-image-wrapper">
        <img src="img/index/whiteboards.png" />
      </div>
    </div>
  </div>
</section>

<section class="themes-section">
  <div class="section-row themes-section-row">
    <h1>Themes</h1>
    <div class="themes-section-grid">
      <div class="image-wrapper themes-section-tile">
        <img src="img/index/theme-candy.png" />
      </div>
      <div class="image-wrapper themes-section-tile">
        <img src="img/index/theme-carbon.png" />
      </div>
      <div class="image-wrapper themes-section-tile">
        <img src="img/index/theme-grape.png" />
      </div>
      <div class="image-wrapper themes-section-tile">
        <img src="img/index/theme-lava.png" />
      </div>
      <div class="image-wrapper themes-section-tile">
        <img src="img/index/theme-mint.png" />
      </div>
      <div class="image-wrapper themes-section-tile">
        <img src="img/index/theme-silver.png" />
      </div>
    </div>
  </div>
</section>

<section class="reminders-section">
  <div class="section-row">
    <div class="section-tile">
      <h1>Reminders</h1>

      <div class="section-sub-text">
        Set up reminders in <em>a few key strokes</em>, or use the custom-made
        date-picker. Use <em>repeat patterns</em> for repeated reminders.
      </div>
    </div>

    <div class="image-wrapper reminders-section-image-wrapper">
      <img src="img/index/reminders.png" />
    </div>

    <div class="reminders-section-expression-examples">
      <h3>Examples</h3>
      <div class="reminders-section-expression-examples-tile">
        <span class="reminders-section-expression-example">at 11</span>
        <span class="reminders-section-expression-example">
          every 2nd Friday of the month
        </span>
        <span class="reminders-section-expression-example">at 11pm</span>
        <span class="reminders-section-expression-example"
          >at 11:30 in two days</span
        >
        <span class="reminders-section-expression-example">in 2 weeks</span>
        <span class="reminders-section-expression-example"
          >tomorrow at noon</span
        >
        <span class="reminders-section-expression-example"
          >at three PM in 1 week</span
        >
        <span class="reminders-section-expression-example">on 1st of june</span>
        <span class="reminders-section-expression-example">
          next week on sunday at 8 in the evening
        </span>
        <span class="reminders-section-expression-example">on 1.6</span>
      </div>
    </div>
  </div>
</section>

<section class="search-section">
  <div class="section-row">
    <div class="section-tile">
      <h1>Search</h1>

      <div class="section-sub-text">
        Search results are <em>compact</em> and presented with a
        <em>formatted preview</em>. It's performed in-memory and
        <em>blazing fast</em>.
      </div>
    </div>

    <div class="image-wrapper search-section-image-wrapper">
      <img src="img/index/search.png" />
    </div>
  </div>
</section>

<section class="mobile-section">
  <div class="section-row">
    <div class="image-wrapper mobile-section-image-wrapper">
      <img src="img/index/mobile.png" />
    </div>

    <div class="section-tile">
      <h2>Available on <em>iOS</em>.</h2>
      <h3>Coming to <em>Android</em> soon.</h3>
    </div>
  </div>
</section>

<section class="vision-section">
  <div class="section-row vision-section-row">
    <h1>Vision</h1>

    <h3>There's <em>so much more</em> to come.</h3>

    <div class="vision-section-grid">
      <div class="vision-section-tile">
        <h1>Markdown Integration</h1>

        <span>
          Edit Rich Text Documents in the Markdown format.
        </span>
      </div>

      <div class="vision-section-tile">
        <h1>Plugins</h1>

        <span>
          Snip's documents are pluginized - any kind of snippet type is possible
          (e.g. Spread Sheets, embedded YouTube links, etc.).
        </span>
      </div>

      <div class="vision-section-tile">
        <h1>Cross-References</h1>

        <span>
          Link documents inside other documents to create "Wiki Pages"-like
          content.
        </span>
      </div>

      <div class="vision-section-tile">
        <h1>Collaborate <span class="snip-cloud-banner"></span></h1>

        <span>Share notes with your team, friends and family.</span>
      </div>

      <div class="vision-section-tile">
        <h1>Media Upload <span class="snip-cloud-banner"></span></h1>

        <span>Store images, audio etc. in the cloud.</span>
      </div>

      <div class="vision-section-tile">
        <h1>Native App <span class="snip-cloud-banner"></span></h1>

        <span>
          Use Snip on your Mobile Phone.
        </span>
      </div>

      <div class="vision-section-tile">
        <h1>Revisions <span class="snip-cloud-banner"></span></h1>

        <span>
          Access previous versions of your data.
        </span>
      </div>

      <div class="vision-section-tile">
        <h1 class="h1-fix">Browser</h1>
        <h1 class="h1-fix">
          Integrations <span class="snip-cloud-banner"></span>
        </h1>

        <span>
          Collect notes as you browse the web.
        </span>
      </div>

      <div class="vision-section-tile">
        <h1>Blogs <span class="snip-cloud-banner"></span></h1>

        <span>
          Compose a rich text document, then publish it as a blog post.
        </span>
      </div>
    </div>
  </div>
</section>
