<header>
  <h1 class="slogan-1">
    <span><em>Lightweight</em> on the Surface,</span>
    <span><em>Powerful</em> at the Core.</span>
  </h1>
  <h2 class="slogan-2">
    The brand new <em>Notes App</em> with a focus on privacy.
  </h2>

  <div class="image-wrapper big-screenshot">
    <img src="img/screenshot1.png" />
  </div>

  <div class="download-row">
    <a href="https://api.getsnip.io/download/mac">
      <span class="download-button">
        <span>Mac</span>
        <i class="material-icons">get_app</i>
      </span>
    </a>

    <a href="windows.html">
      <span class="download-button">
        <span>Windows</span>
        <i class="material-icons">get_app</i>
      </span>
    </a>

    <a
      href="https://getsnip.io/client"
      target="_blank"
      class="download-row-web-version"
    >
      <span class="download-button">
        <span>Web Version</span>
        <i class="material-icons">open_in_new</i>
      </span>
    </a>
  </div>
</header>

<section>
  <div class="section-row">
    <div class="section-tile">
      <h2>Offline First</h2>
      <span>
        Your data is <em>cached</em> on your local disk <em>by default</em>.
        Being online is optional.
      </span>
    </div>

    <div class="section-tile">
      <h2>Privacy First</h2>
      <span>
        You can choose whether your data shall be synchronized. We support
        saving to the <em>File System</em> and our own <em>Snip Cloud</em>.
      </span>
    </div>
  </div>
</section>

<section>
  <div class="section-row">
    <div class="section-tile">
      <h2>Different kinds of notes</h2>
      <span>
        Choose from different note types such as <em>Rich Text</em>,
        <em>Code Snippets</em>, <em>Todo Lists</em> and
        <em>Sticky Notes</em>
      </span>
    </div>

    <div class="snippet-examples-row">
      <img src="img/snippet4.png" />
      <img src="img/snippet1.png" />
      <img src="img/snippet3.png" />
      <img src="img/snippet2.png" />
    </div>
  </div>
</section>

<section>
  <div class="section-row">
    <div class="section-tile tags-tile">
      <h2>
        Tags are Folders. <br />
        Folders are Tags.
      </h2>
      <span>
        Use tags in the classic sense, e.g.
        <span class="tag-example">lists</span>. Use a slash, like
        <span class="tag-example">private / plans</span>, to organize your
        content in a folder-like structure.
      </span>
    </div>

    <div class="image-wrapper tags-screenshot">
      <img src="img/tags.png" />
    </div>
  </div>
</section>

<section>
  <div class="section-row">
    <div class="section-tile">
      <h2>Quick Access</h2>
      <span>
        Links and Code Snippets are accessible instantly with the
        <em><kbd>Cmd</kbd>+<kbd>K</kbd></em> shortcut.
      </span>

      <br />

      <span>
        Pressing <em><kbd>Enter</kbd></em> will copy the contents to your
        Clipboard.
      </span>
    </div>

    <div class="image-wrapper quick-access-example-tile">
      <img src="img/quick access.png" />
    </div>
  </div>
</section>

<section>
  <div class="section-row vision-section-row">
    <h1>Vision</h1>

    <h3>There's <em>so much more</em> to come.</h3>

    <div class="vision-section-grid">
      <div class="vision-tile">
        <h1>Collaboration <span class="snip-cloud-banner"></span></h1>

        <span>Share notes with your team, friends and family.</span>
      </div>

      <div class="vision-tile">
        <h1>Dashboards</h1>

        <span>Collect and organize notes on neatly laid out dashboards.</span>
      </div>

      <div class="vision-tile">
        <h1>Reminders</h1>

        <span>
          Write <code>"remind me tomorrow at ten"</code> and let Snip take care
          of notifying you.
        </span>
      </div>

      <div class="vision-tile">
        <h1>Markdown Integration</h1>

        <span>
          Edit Rich Text Documents in the Markdown format.
        </span>
      </div>

      <div class="vision-tile">
        <h1>Revisions <span class="snip-cloud-banner"></span></h1>

        <span>
          Snip Cloud takes care of keeping a change log of all your data.
        </span>
      </div>

      <div class="vision-tile">
        <h1 class="h1-fix">Browser</h1>
        <h1 class="h1-fix">
          Integrations <span class="snip-cloud-banner"></span>
        </h1>

        <span>
          Collect notes as you browse the web.
        </span>
      </div>

      <div class="vision-tile">
        <h1>Blogs <span class="snip-cloud-banner"></span></h1>

        <span>
          Write down your thoughts in a rich text document, then publish it as a
          blog post.
        </span>
      </div>

      <div class="vision-tile">
        <h1>Plugins</h1>

        <span>
          Snip's documents are pluginized - any kind of snippet type is possible
          (e.g. Spread Sheets, embedded YouTube links, etc.).
        </span>
      </div>

      <div class="vision-tile">
        <h1>Cross-References</h1>

        <span>
          Link documents inside other documents to create "Wiki Pages"-like
          content.
        </span>
      </div>
    </div>
  </div>
</section>
