<section class="expanded-section narrow-section">
  <div class="section-row section-row-informative">
    <div class="section-tile">
      <h1>Support</h1>

      <h2>Ask for Help / Give Feedback</h2>
      <p>
        Use
        <a href="https://forms.gle/vhWV3o8T5VuQ2iyV6">this</a>
        form.
      </p>

      <h2>Twitter</h2>
      <p>Follow us on <a href="https://twitter.com/getsnip">Twitter</a>.</p>
    </div>
  </div>

  <div class="section-row">
    <a class="back-button" href="/">Back</a>
  </div>
</section>
