<section>
  <div class="section-row section-row-informative">
    <div class="section-tile">
      <h1>Support</h1>

      <h2>Questions, Feedback, Feature Requests, etc.</h2>
      <p>
        Use the
        <a href="https://github.com/snip-app/desktop/discussions"
          >discussions board</a
        >
        on our Github Page. You'll need a GitHub Account.
      </p>

      <h2>Bug Reports</h2>
      <p>
        Use the
        <a href="https://github.com/snip-app/desktop/issues">issues board</a> on
        our Github Page. You'll need a GitHub Account.
      </p>

      <h2>Twitter</h2>
      <p>Follow us on <a href="https://twitter.com/getsnip">Twitter</a>.</p>
    </div>
  </div>

  <div class="section-row">
    <a href="/">Back</a>
  </div>
</section>
