<section class="expanded-section narrow-section">
  <div class="section-row windows-download">
    <div class="section-tile">
      <h3>Disclaimer</h3>

      <p style="text-align: center;">
        Windows will give a warning about potential Malware. This is because we
        have not been able to code-sign the software yet. We are working on
        getting this fixed. You can choose to ignore the warnings.
      </p>

      <div class="download-section-row">
        <a
          href="https://github.com/snip-app/client/releases/latest/download/Snip.exe"
        >
          Download
        </a>
      </div>
    </div>
  </div>

  <div class="section-row">
    <a class="back-button" href="/">Back</a>
  </div>
</section>
