<section>
  <div class="section-row windows-download">
    <div class="section-tile">
      <h1>Download for Windows</h1>

      <div class="warning-box">
        <p>
          Windows will give a warning about potential Malware. This is because
          we have not been able to code-sign the software yet. We are working on
          getting this fixed. You can choose to ignore the warnings.
        </p>
      </div>

      <div class="download-row">
        <a
          href="https://github.com/snip-app/client/releases/latest/download/Snip.exe"
          onclick="reportDownload('windows')"
        >
          <span class="download-button">
            <span>Windows</span>
            <i class="material-icons">get_app</i>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="section-row">
    <a href="/">Back</a>
  </div>
</section>
