<section>
  <div class="section-row windows-download">
    <div class="section-tile">
      <h1>Download for Windows</h1>

      <div class="warning-box">
        <p>
          Windows will give a warning about potential Malware. This is because
          we have not been able to code-sign the software yet. We are working on
          getting this fixed.
        </p>

        <p>
          You can choose to ignore the warnings. If you don't trust us, you can
          use the web version instead. You'll have to
          <a href="https://user.getsnip.io/register">register</a> first.
        </p>
      </div>

      <div class="download-row">
        <a href="https://api.getsnip.io/download/windows">
          <span class="download-button">
            <span>Windows</span>
            <i class="material-icons">get_app</i>
          </span>
        </a>

        <a href="https://getsnip.io/client" target="_blank">
          <span class="download-button">
            <span>Web Version</span>
            <i class="material-icons">open_in_new</i>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="section-row">
    <a href="/">Back</a>
  </div>
</section>
